NODE_ENV=production

SWAGGER_ENABLED=true

POSTGRES_URL=postgres://postgres:postgres@localhost/postgres

JWT_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----\nMIICWwIBAAKBgHb+R4FFPmI9ytR6Ntjj8tUm9KvrP25eIpWcCFuHB65whGXtEbYm\niZhpVFIQRO/5HPkNP6pKElZICIyka5e57sgR1jwxrSQJNCDp6HYeOZUo0lKTv8vE\n+w8rx/wbXvl2Kw64wF9LVaDb1ttZgYnQP+abVXdvmtlomoNPKbbVHAIvAgMBAAEC\ngYA9JeJ87aZnObXXho5U2p7ZJlGpXxSTlNBU7X/l+PfbjnqbHj5xyk//AHGSUkX6\nw5s96K8ExVey+wVZsMyRhbzMYheeZmh6CxeKzGaxunuuWyIVKOUlI077idWo9YPz\nTQl4cCZ2ui9UqFj8XBbVksHi52wZY+f4RDNR1a5lu3edgQJBAMlSKgLmCMar5AXq\nOKn+RbvDY9ag0JYe4XytNenPVs5aYYV6PZzt2NxXanEKz6SimWkb+FpbixekuPIV\nh+9XsY8CQQCXT+BFj2KA5bC4n5Yffukmi12DnyfgNw3rTG+LPEmTJg87GLbQ2sDu\nYdX31wY7rDfTiK6AILtVkdjUPJTdHxVhAkEAnPXKe2gN/5eUuGfctezhQXsdJAFN\nnz2EYEhLeHeHHmupDQA5eViXc3NUMb5UFfAP27tK7mfhEhYDe/r9eMXOUQJAOQQR\nN0TjUjy6zabc07tnsW18bFdxmCxGo25m7alm8/q4bIVQhfyYDHtzO/ObVqr7UktD\nreYnkQPnF3pIgdXvoQJAD/7rE0xa+0ZFnxyNpKq/E8gnoRibmCZVyhs2osVI8Nrb\nMQBxlzaKRj8oV0qviRQjrcF7o7xbcpwOn9Wl70pl4A==\n-----END RSA PRIVATE KEY-----
JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nMIGeMA0GCSqGSIb3DQEBAQUAA4GMADCBiAKBgHb+R4FFPmI9ytR6Ntjj8tUm9Kvr\nP25eIpWcCFuHB65whGXtEbYmiZhpVFIQRO/5HPkNP6pKElZICIyka5e57sgR1jwx\nrSQJNCDp6HYeOZUo0lKTv8vE+w8rx/wbXvl2Kw64wF9LVaDb1ttZgYnQP+abVXdv\nmtlomoNPKbbVHAIvAgMBAAE=\n-----END PUBLIC KEY-----

PRIVATE_API_KEY=abcdefghijk123456
